*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;

    @media only screen and (max-width: 1000px) {
        font-size: 50%;
    }

    @media only screen and (max-width: 700px) {
        font-size: 43.76%;
    }
}

body {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-weight: 400;
    line-height: 1.6;
    text-align: center;
    background-color: #F4F4F4;
    letter-spacing: 0.06em;
    margin: 0.2rem;
}

.container {
    display: grid;
    grid-template-rows: 17rem 1fr 5rem;
    grid-row-gap: 4rem;

    @media only screen and (max-width: 700px) {
        grid-template-rows: 14rem 1fr 5rem;
    }
}