.btn, 
.btn:visited {
    text-decoration: none;
    padding: 0.7rem 1.4rem;
    margin-right: 3rem;
    color: black;
    font-size: 1.4rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: inline-block;

    @media only screen and (max-width: 700px) {
        margin-right: .7rem;
    }
}

.btn:hover {
    transform: scale(1.05);
    transition: all .2s;
}

.btn--black {
    border: solid 1.5px black;
}

.btn--red {
    border: solid 1.5px #c92121;
}

.btn--blue {
    border: solid 1.5px #2bc2dd;
}

.btn--green {
    border: solid 1.5px #208617;
}

.btn--burlywood {
    border: solid 1.5px burlywood;
}

.btn--greenyellow {
    border: solid 1.5px rgb(135, 182, 27);
}