.header {
    align-self: flex-end;

    &__titel {
        padding-bottom: 3rem;
        font-size: 4.8rem;
        text-transform: uppercase;
        font-weight: 400;

        @media only screen and (max-width: 700px) {
            padding-bottom: 2rem;
            font-size: 3.8rem;
        }
    }
}

.nav {
    font-size: 2rem;
    font-weight: 400;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    &__link,
    &__link:visited {
        color: black;
        display: inline-block;
        margin: 0 5rem;
        text-decoration: none;

        @media only screen and (max-width: 700px) {
            margin: 0 2rem;
        }
    }

    &__link:hover,
    &__link:active {
        font-weight: 700;
    }

}