.section-portfolio {
    display: grid;
    grid-template-rows: 35rem 35rem 25rem;
    grid-row-gap: 12rem;
}

.portfolio-item {
    display: grid;
    width: 90rem;
    justify-self: center;
    grid-template-columns: 43% 52%;
    column-gap: 5rem;

    &:first-of-type {
        grid-template-rows: 3rem 25rem;
        row-gap: 9rem;
    }

    &__right {
        text-align: left;
        margin: auto;
        margin-right: 1rem;
        
    }

    @media only screen and (max-width: 700px) {
        width: 70rem;
        column-gap: 4rem;
    }
}

.item__titel {
    font-weight: 700;
    font-size: 2.6rem;
    margin-bottom: .5rem;
}

.item__text {
    font-weight: 400;
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.item__img {
    box-shadow: 1rem 1rem 2rem #0000003d;

    &-budget {
        height: 25rem;

        @media only screen and (max-width: 700px) {
            height: 20rem;
            margin-top: 3rem;
            margin-left: 1rem;
        }
    }

    &-concerns {
        height: 22rem;
        margin-top: 2rem;
        @media only screen and (max-width: 700px) {
            height: 17rem;
            margin-top: 4rem;
            margin-left: 1rem;
        }
    }

    &-nature {
        display: inline-block;
        height: 33.5rem;

        &:first-of-type {
            transform: translate(2rem, -2rem);
        }
    
        &:last-of-type {
            transform: translate(-2rem, 2rem);
            z-index: 100;
        }
    }
}

.portfolio--git {
    grid-row: 1;
    grid-column: 1 / 3;
    margin: 0 auto;
}