@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
@import "base";
@import "button";
@import "header";
@import "portfolio";


//***Resume***//
.section-resume {
    display: grid;
    margin-top: 2rem;
}
.resume {
    justify-self: center;
    width: 20%;
    max-width: 44rem;
    min-width: 30rem;
    margin: 1rem;
    border: solid 1px black;

    &__btn {
        width: fit-content;
        display: grid;
        margin: auto;
        margin-top: 3rem;
    }
}

//***Contact***//
.section-contact {
    margin-top: 2rem;
}

.contact__text {
    font-size: 2.4rem;
    font-weight: 300;
    color: black;
    display: block;
    
    //border-bottom: solid black 2px;
    width: fit-content;
    margin: auto;
    margin-bottom: 3rem;
}

.contact__icon {
    font-size: 3rem;
}


//***Utilities***//
.u-margin-2rem {
    margin-bottom: 2rem;
}

.u_bold {
    font-weight: 700;
}